{% extends 'layout.html.twig' %}
{% block content %}
        <br />
           
        <ul class="list-group">
            {% for morador in aLista %}            
            <li class="list-group-item">
                <h4><b>Nome:</b> {{morador.name}} - {{morador.comp}}</h4>               
                <span style="font-size: 12px; color: #000000;text-decoration: none;">{{morador.mail}}</span>
            </li>
            <br>
        {% endfor %}
        </ul>
{% endblock %}
