{% extends 'layout.html.twig' %}

{% block secondaryNavigation %}
     <div class="container">
        <ul class="nav nav-tabs">
            {% if is_granted('ROLE_ADMIN') %}<li {% if 'adicionar-documento' == active %}class="active"{% endif %}><a href="{{ path('adicionar-documento')}}">Adicionar</a></li>{% endif %}
            <li {% if 'listar-documento' == active %}class="active"{% endif %}><a href="{{ path('listar-documento')}}">Listar</a></li>            
          </ul>
    </div> 
{% endblock %}
