{% block content %}
<div style="margin:0;padding:0" bgcolor="#dfe5e9">
<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#dfe5e9" align="center" style="font-size:0px;line-height:0px">
	<tbody><tr>
		<td>
			<table width="550" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody><tr>
					<td>
						<table width="550" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="min-width:550px">
							<tbody>
                                                        <tr>
								<td style="padding:21px 0 30px 33px;min-width:0px"><a title="Reclame Imóvel" href="http://reclameImovel.com.br"><img border="0" title="Reclame Imóvel" alt="Reclame Imóvel" src="http://news.reclameimovel.com.br/images/logo100x100.png"></a></td>
                                                                <td style="font-size: 18px;font-weight: bold; float: left;margin-top: 67px"><a href="http://reclameImovel.com.br" style="cursor: pointer;text-decoration: none">ReclameImovel.com.br</a></td>
							</tr>
						</tbody></table>
						<table width="550" cellspacing="0" cellpadding="0" border="0">
							<tbody><tr>
								<td valign="top" bgcolor="#FFFFFF" style="font-family:Verdana,Arial,sans-serif;color:#3b3b3b;font-size:14px;line-height:22px;padding:15px 33px 40px 33px">
								
									<table width="480" cellspacing="0" cellpadding="0" border="0">
										<tbody><tr>
											<td style="font-family:Verdana,Arial,sans-serif;color:#000000;font-size:32px;line-height:40px;padding:0 0 0 0">Obrigado, mas não vá embora!</td>
										</tr>
									</tbody></table>
								
									
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="20" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>									
									Olá <b>{{name}}</b>
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="12" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>									
                                                                        Obrigado por fazer parte de nosso site. Deixa eu te explicar melhor como funciona.
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="12" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>									
                                                                        A nossa idéia tem como objetivo poder ajudar as pessoas que tem um sonho, comprar um apartamento hoje em dia é uma tarefa muito difícil, mas desta forma surgiu esta <b>idéia</b>.
                                                                        <br>
                                                                        <b style="color:red">Bom vamos ao mais importante, sei que fornecer mais dados hoje em dia na internet ainda mais em um site que você não comnhece não é legal né.</b> <br> 
                                                                        Mas infelizmente para reclamar sobre seu empreendimento nós precisamos de mais dados, para podermos entrar em contato com sua construtora e é o mínimo de informações que eles podem pedir.
                                                                        <br><br>
                                                                        Desculpe mas precisamos destas informações para tentar lhe ajudar.                                                                            
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="12" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>									
                                                                        Nos ajude a ajudar o próximo, pois sei que você pode não ser um comprador hoje mas quem sabe amanhã, curta nossa página no facebook e aumente nossa divulgação.<br><br>
                                                                        Curta nossa página: <a href="https://www.facebook.com/reclameimovel">https://www.facebook.com/reclameimovel</a>
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="12" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>									
									Para acessar esses recursos, acesse o <a target="_blank" href="http://www.reclameimovel.com.br">site Reclame Imóvel</a>.
									<table width="280" cellspacing="0" cellpadding="0" border="0" summary="spacer"><tbody><tr><td height="12" style="font-size:12px;line-height:12px">&nbsp;</td></tr></tbody></table>
									Quando estiver no site, faça login usando sua Conta do Facebook - a mesma conta usada no seu dispositivo móvel, e você está pronto!
									</td>
							</tr>
						</tbody>
                                                </table>
						<table width="550" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
							<tbody><tr>
								<td style="padding:0 23px 0 0">
									
									<table width="224" cellspacing="0" cellpadding="0" border="0" align="right">
										<tbody><tr>
											<td ><a target="_blank" title="Twitter" href="https://twitter.com/reclameimovelbr"><img  border="0" title="Twitter" alt="Twitter" src="http://news.reclameimovel.com.br/images/twitter.png"></a></td>
											<td ><a target="_blank" title="Facebook" href="http://www.facebook.com/reclameimovel"><img  border="0" title="Facebook" alt="Facebook" src="http://news.reclameimovel.com.br/images/facebook.png"></a></td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
						</tbody></table>
						
						
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody>
</table>
    </div>
    
</div>
{% endblock %}
