{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}" >
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <h4>Busque o seu condomínio aqui. <div class="fb-like" data-href="https://www.facebook.com/reclameimovel" data-width="400" data-layout="standard" data-action="recommend" data-show-faces="false" data-share="true"></div></h4>
        

        <form class="form-inline" role="form" action="/buscar" method="post">
         
             <div class="input-group">
                 <input type="search" class="form-control" value="" id="busca" name="busca" placeholder="Procure agora seu condomínio">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </span>
              </div>
        </form>
        <br />
{% endblock %}
